


!fname_plate_6well_inspos_list plate_6well_inspos.data
# This file is copied from z02_plate_6well_inspos.data
# It has an unforgiving format.  Must be copied exactly
# except stuff could be added at end with no harm.
# Maybe add the date of the copy?


# List of fiducial positions.
################
# The origin for Cplate_6well (object wp) is set to have
# x=0 at the right edge of the right-most wells and y=0
# at the bottom edge of the bottom-most wells.
#
# In situations where a "-" is used instead of a coordinate,
# that coordinate will remain unset.
################
# fiducial_name x_pos y_pos  # comments
!well6_holder_fiducial
x1 76000 37000    # left side X
x2 37000 37000    # right side X
writ 0 -          # well right
wlef 113000 -     # well left (assume 39 mm spacing)*1
wbot - 0          # *1 similar here
wtop - 74000
#
# Does doing the following make any sense at all???
c1 95606 56396   # culture 1 center
c2 57092 56163
c3 17930 56240
#################################
# *1.  This is probably incorrect.  39.2 mm is in the spec sheet.
#      But more importantly, it should be determined using a
#      measurement done with occulars.
#################################




