

# !culture_diam 9170  Old value, maybe for another type of insert?
# 12 mm millicell.
!culture_diam 8770

!pattern_file locup/pattern.data
# !pattern_file locup/pattern_01_horiz10_ns_margin_1.data
# !pattern_file locup/pattern_02_horiz10_ns_margin_2.data
# !pattern_file locup/pattern_03_central_6.data
# !pattern_file locup/pattern_04_central_8.data
# !pattern_file locup/pattern_05_central_6_wide.data
# !pattern_file locup/pattern_06_central_8_wide.data
# !locup/pattern_07.data   # large millicell, 6 FOVs
# !locup/pattern_08.data   # large millicell, 8 FOVs



