#

# !fname_plate ; muwp/plate_01_w6h.data
!fname_plate ; muwp/plate_02_ladiholder.data

# Specific calibrations:
# !fname_plate ; muwp/plate_01_w6h_ca03.data  # for well6_holder 3

# This is here to allow users to manually change them
# in their user/muwp.config.
!psx0 ; 0
!psy0 ; 0

!run_mode ; a ; # The default run mode, "a" or "b".

# (udx, udy):  Distance to move using the move ("m") action.
# These should usually be set to one FOV.
!udx ; 307
!udy ; 230

!reset_multi_edges
# Leaving this list blank here allows loading of
# the !reset_multi_edges from the plate file.


!end_of_data

