#

# !fname_plate ; muwp/plate_01_w6h.data
!fname_plate ; muwp/plate_02_ladiholder.data

# Specific calibrations:
# !fname_plate ; muwp/plate_01_w6h_ca03.data  # for well6_holder 3

# This is here to allow users to manually change them
# in their user/muwp.config.
!psx0 ; 0
!psy0 ; 0

!run_mode ; a ; # The default run mode, "a" or "b".

# (udx, udy):  Distance to move using the move ("m") action.
# These should usually be set to one FOV.
!udx ; 307
!udy ; 230

!reset_multi_edges
1 ; N

!move_choice
614 ; 461 ; sava 10x 120fr/s
307 ; 230 ; sava 20x 120fr/s
205 ; 154 ; sava 30x 120fr/s
154 ; 115 ; sava 40x 120fr/s, 20x 300*fr/s
102 ;  77 ; sava 60x 120fr/s
 51 ;  38 ; sava 60x 300*fr/s

!end_of_data

